@model IEnumerable<MTassignment1.Models.AllData>

@{
    ViewBag.Title = "Track";
}
<p style="color:green">@TempData["UpdateMessage"]</p>
<h1>Tracking!!You Can track everything here</h1>

<p>
    <h1 style="color: green;">Zero Hunger</h1>
    <h2> You Can Also join with us </h2>
    
</p>
<p><a class="btn btn-primary btn-lg" @Html.ActionLink("Click Here to Contribute", "System")</a></p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount_of_food)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Uploading_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expired_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Organization_Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Amount_of_food)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Uploading_time)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Expired_time)
    </td>
    <td>
        <p style="color:darkseagreen">@Html.DisplayFor(modelItem => item.Status)</p>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Place)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Employee)
    </td>

</tr>
    }


</table> <div>
    @Html.ActionLink("Back to HomePage", "Index")
</div>
